firmware/main/certs/*
!firmware/main/certs/aws-root-ca.pem
firmware/build
firmware/sdkconfig
firmware/sdkconfig.old
firmware/dependencies.lock
firmware/managed_components

hardware/*bak
hardware/hardware-rescue.lib
